.codoc-doc {
    font-family: sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.codoc-doc h1.title {
    padding-left: -2em
    margin-left: 1em;
}

.codoc-doc .doc {
    padding-left: 2em;
}

.codoc-doc .doc-left {
    text-align: left;
}

.codoc-doc .doc-right {
    text-align: right;
}

.codoc-doc .doc-center {
    text-align: center;
}

.codoc-doc .tag .label {
    font-weight: bold;
}

.codoc-doc .comment {
    border: 1px solid #CCCCCC;
    border-right: 0;
    border-bottom: 0;
    margin: 1em 0;
    padding: 1em;
    margin-left: -1em;
}

.codoc-doc .section {
    border-bottom: 1px solid #CCCCCC;
    line-height: 1.3em;
}

.codoc-doc .keyword {
    font-family: monospace;
    font-weight: bold;
}

.codoc-doc .rarr span {
  overflow: hidden;
  height: 0px;
  width: 0px;
  display: inline-block;
}

.codoc-doc .rarr:after {
  content: "→";
}

.codoc-doc .sig {
    padding-left: 3em;
}

.codoc-doc .tag.deprecated {
    color: orange;
}

.codoc-doc .tag.deprecated .label {
    color: red;
}

.codoc-doc .module,
.codoc-doc .modtype,
.codoc-doc .exception,
.codoc-doc .type,
.codoc-doc .val,
.codoc-doc .ext,
.codoc-doc .exn,
.codoc-doc .class,
.codoc-doc .classtype,

.codoc-doc .include {
    margin-bottom: 1em;
}

.codoc-doc .module_index {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Field/constructor indentation */
.codoc-doc .cons > td,
.codoc-doc .field > td {
    vertical-align: top;
    padding: 0;
}

.codoc-doc div.cons,
.codoc-doc .cons > td,
.codoc-doc .field td:nth-child(1),
.codoc-doc .field td:nth-child(n+4) {
    padding-left: 1.5em;
}

/* Field/constructor type nowrap */
.codoc-doc .cons td:nth-child(1),
.codoc-doc .field td:nth-child(2) {
    white-space: nowrap;
}

/* Field/constructor comment syntax alignment */
.codoc-doc .cons td:nth-child(4),
.codoc-doc .field td:nth-child(6) {
    vertical-align: bottom;
}

/* Fragment highlighting */
.codoc-doc :target *,
.codoc-doc tr div:target {
    background-color: #FFFFCC;
}

/* Hover fragment links */
.codoc-doc .region {
    margin-top: 0.7em;
    margin-left: -1.3em;
    padding-left: 1.3em;
}

.codoc-doc td > .region {
    margin-top: 0;
}

.codoc-doc .region > a.anchor + * {
    margin-top: -1.3em;
}

.codoc-doc a.anchor {
    visibility: hidden;
    margin-top: 0;
    margin-left: -1.3em;
    color: #999999;
    text-decoration: none;
}

.codoc-doc :hover > a.anchor,
.codoc-doc tr:hover a.anchor {
    visibility: visible;
}

.codoc-doc a.anchor:hover {
    color: #000000;
    text-decoration: underline;
}
