<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../codoc.css"/>
    <title>Components</title>
  </head>
  <body>

  <div class="module codoc-doc">
      <a href="../../">Up</a>
      <div class="intro"><h1 class="title"><span class="keyword">module</span> <a href="">Components</a></h1> : <span class="keyword">sig</span></div>
      
      <div class="doc">
        
      <p>Strongly connected components.</p>
      
        
      </div>
    
      
    <div class="sig">
  <div class="region" id="/modtype:G">
  <a href="index.html#/modtype:G" class="anchor">#</a>
  
  <div class="modtype">
    <div class="intro">
      <span class="keyword">module type</span> G = <span class="keyword">sig</span>
    </div>
    
      <div class="doc">
        
      <p>Minimal graph signature required by <a href="index.html#/module:Make">Make</a>.
Sub-signature of <a href="../../../ocamlgraph.1.8.5/src/sig/">Sig</a>.<a href="../../../ocamlgraph.1.8.5/src/sig/#/modtype:G">G</a>.</p>
      
        
      </div>
    
    
    <div class="sig">
  <div class="region" id="/modtype:G/type:t">
  <a href="index.html#/modtype:G/type:t" class="anchor">#</a>
  
  <div class="type">
    <span class="keyword">type</span> t
    
  </div>
  
  </div>
  
  <div class="region" id="/modtype:G/module:V">
  <a href="index.html#/modtype:G/module:V" class="anchor">#</a>
  
  <div class="module">
      
      <div class="intro"><span class="keyword">module</span> V : <a href="../../../ocamlgraph.1.8.5/src/sig/">Sig</a>.<a href="../../../ocamlgraph.1.8.5/src/sig/#/modtype:COMPARABLE">COMPARABLE</a></div>
      
      
  </div>
  
  </div>
  
  <div class="region" id="/modtype:G/val:iter_vertex">
  <a href="index.html#/modtype:G/val:iter_vertex" class="anchor">#</a>
  
  <div class="val">
    <span class="keyword">val</span> iter_vertex : (<a href="index.html#/modtype:G/module:V">V</a>.<a href="index.html#/modtype:G/module:V/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> unit) <span class="rarr"><span>-&gt;</span></span> <a href="index.html#/modtype:G/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> unit
    
  </div>
  
  </div>
  
  <div class="region" id="/modtype:G/val:iter_succ">
  <a href="index.html#/modtype:G/val:iter_succ" class="anchor">#</a>
  
  <div class="val">
    <span class="keyword">val</span> iter_succ : (<a href="index.html#/modtype:G/module:V">V</a>.<a href="index.html#/modtype:G/module:V/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> unit) <span class="rarr"><span>-&gt;</span></span> <a href="index.html#/modtype:G/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> <a href="index.html#/modtype:G/module:V">V</a>.<a href="index.html#/modtype:G/module:V/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> unit
    
  </div>
  
  </div>
  </div>
    <div class="outro"><span class="keyword">end</span></div>
    
  </div>
  
  </div>
  
  <div class="region" id="/module:Make">
  <a href="index.html#/module:Make" class="anchor">#</a>
  
  <div class="module">
      
      <div class="intro"><span class="keyword">module</span> Make : <span class="keyword">functor</span> (G : <a href="index.html#/modtype:G">G</a>) <span class="rarr"><span>-&gt;</span></span> <span class="keyword">sig</span></div>
      
      <div class="doc">
        
      <p>Functor providing functions to compute strongly connected components of a
graph.</p>
      
        
      </div>
    
      
    <div class="sig">
  <div class="region" id="/module:Make/val:scc">
  <a href="index.html#/module:Make/val:scc" class="anchor">#</a>
  
  <div class="val">
    <span class="keyword">val</span> scc : <a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> int * (<a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/module:V">V</a>.<a href="index.html#/module:Make/modarg:1:G/module:V/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> int)
    
      <div class="doc">
        
      <p><code>scc g</code> computes the strongly connected components of <code>g</code>.
The result is a pair <code>(n,f)</code> where <code>n</code> is the number of
components. Components are numbered from <code>0</code> to <code>n-1</code>, and
<code>f</code> is a function mapping each vertex to its component
number. In particular, <code>f u = f v</code> if and only if <code>u</code> and
<code>v</code> are in the same component. Another property of the
numbering is that components are numbered in a topological
order: if there is an arc from <code>u</code> to <code>v</code>, then <code>f u &gt;= f u</code></p>
      
      <p>Not tail-recursive.
Complexity: O(V+E)
The function returned has complexity O(1)</p>
      
        
      </div>
    
  </div>
  
  </div>
  
  <div class="region" id="/module:Make/val:scc_array">
  <a href="index.html#/module:Make/val:scc_array" class="anchor">#</a>
  
  <div class="val">
    <span class="keyword">val</span> scc_array : <a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> <a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/module:V">V</a>.<a href="index.html#/module:Make/modarg:1:G/module:V/type:t">t</a> list array
    
      <div class="doc">
        
      <p><code>scc_array g</code> computes the strongly connected components of <code>g</code>.
Components are stored in the resulting array, indexed with a
numbering with the same properties as for <code>scc</code> above.</p>
      
        
      </div>
    
  </div>
  
  </div>
  
  <div class="region" id="/module:Make/val:scc_list">
  <a href="index.html#/module:Make/val:scc_list" class="anchor">#</a>
  
  <div class="val">
    <span class="keyword">val</span> scc_list : <a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/type:t">t</a> <span class="rarr"><span>-&gt;</span></span> <a href="index.html#/module:Make/modarg:1:G">G</a>.<a href="index.html#/module:Make/modarg:1:G/module:V">V</a>.<a href="index.html#/module:Make/modarg:1:G/module:V/type:t">t</a> list list
    
      <div class="doc">
        
      <p><code>scc_list g</code> computes the strongly connected components of <code>g</code>.
The result is a partition of the set of the vertices of <code>g</code>.
The <code>n</code>-th components is <code>(scc_array g).(n-1)</code>.</p>
      
        
      </div>
    
  </div>
  
  </div>
  </div>
    <div class="outro"><span class="keyword">end</span></div>
    
  </div>
  
  </div>
  </div>
    <div class="outro"><span class="keyword">end</span></div>
    
  </div>
  
  </body>
</html>