.ocamlary-doc {
    margin-left: 1em;
    margin-right: 1em;
}

.ocamlary-doc h1.title {
    padding-left: -2em
    margin-left: 1em;
}

.ocamlary-doc .doc {
    padding-left: 2em;
}

.ocamlary-doc .doc-left {
    text-align: left;
}

.ocamlary-doc .doc-right {
    text-align: right;
}

.ocamlary-doc .doc-center {
    text-align: center;
}

.ocamlary-doc .tag .label {
    font-weight: bold;
}

.ocamlary-doc .comment {
    border: 1px solid #CCCCCC;
    border-right: 0;
    border-bottom: 0;
    margin: 1em 0;
    padding: 1em;
    margin-left: -1em;
}

.ocamlary-doc .section {
    border-bottom: 1px solid #CCCCCC;
}

.ocamlary-doc .keyword {
    font-family: monospace;
    font-weight: bold;
}

.ocamlary-doc .sig {
    padding-left: 3em;
}

.ocamlary-doc .tag.deprecated {
    color: orange;
}

.ocamlary-doc .tag.deprecated .label {
    color: red;
}

.ocamlary-doc .module,
.ocamlary-doc .modtype,
.ocamlary-doc .exception,
.ocamlary-doc .type,
.ocamlary-doc .val,
.ocamlary-doc .ext,
.ocamlary-doc .exn,
.ocamlary-doc .class,
.ocamlary-doc .classtype {
    margin-bottom: 1em;
}

.ocamlary-doc .cons,
.ocamlary-doc .field {
    padding-left: 1.5em;
}

.ocamlary-doc :target * {
  background-color: #FFFFCC;
}
